#canvas {
    display: grid;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    width: 450px;
    height: 450px;
}

#startBtn {
    display: block;
    margin: 0 auto;
    background-color: green;
    color: white;
    font-size: 20px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#scoreTracker {
    text-align: center;
    font-size: 20px;
    margin: 2rem;
}
